<div class="row">
    <main class="col-md-12">
        <div class="py-4">
            <h1>Welcome to My About Page</h1>
            <p>Hello and welcome to my about page. Here you'll find information about me and my journey as a student.
            </p>
        </div>
        <div class="py-4">
            <h2>Personal Information</h2>
            <p>Here is some information about myself as a student:</p>
            <p>My name is Rajarshi Chakraborty . I am currently enrolled in WEB700 course. This program has equipped me
                with the fundamentals of Javascript and good coding practices. I am passionate about getting familiar
                with new technologies, and I look forward to get some hands on experience in IT field.</p>
        </div>
    </main>
</div>