<div class="row">
    <main class="col-md-12">
        <h1>Welcome to the WEB700 Course!</h1>
        <p>Welcome to my website where I delve into the intricacies of HTML5 principles and techniques, alongside
            exploring advanced topics like Routing in Express. Join me on this journey as we uncover the foundations and
            cutting-edge features of web development.</p>

        <h2>Introduction to HTML5</h2>
        <p>HTML5 is the latest evolution of the standard that defines HTML. It offers new elements and attributes that
            allow for more powerful and diverse websites and applications. Understanding HTML5 is crucial for modern web
            development.</p>

        <h3>Useful Links</h3>
        <ul>
            <li><a href="/">Home</a> - Return to the homepage.</li>
            <li><a href="/about">About</a> - Learn more about the author of this site.</li>
            <li><a href="/htmlDemo">HTML Demo</a> - View examples of various HTML5 elements.</li>
            <li><a href="/students">Students</a> - List of students enrolled in the course.</li>
            {{!-- <li><a href="/tas">Teaching Assistants</a> - List of teaching assistants for the course.</li> --}}
            <li><a href="/courses">Courses</a> - Information about the available courses.</li>
        </ul>
    </main>
</div>